<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">

  <link rel="shortcut icon" type="image/png" href="favicon.png">

  <link rel="stylesheet" type="text/css" href="/public/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/public/{{sitecss}}">
  <link rel="stylesheet" type="text/css" href="/public/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/public/ionicons.min.css">
  {{!--
  <link rel="stylesheet" type="text/css" href="css/style.css"> --}}


  <script src="/public/jsCode/jquery-2.1.0.js"></script>
  <script src="/public/jsCode/bootstrap.js"></script>
  <script src="/public/jsCode/blocs.js"></script>
  <script src="/public/jsCode/lazysizes.min.js" defer></script>
  <script src="/public/operations.js"></script>
  <title>Home</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>

  <!-- <script type="text/javascript" src="jquery-1.3.2.min.js"></script> -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

  <link rel="stylesheet" type="text/css" href="/public/{{style}}">
  <meta name=" viewport" content="width=device-width initial-scale=1">
</head>

{{!--

<body>
  <div id="header">
    <div id="logo">
      <img src="/public/jar.png" height="40" width="60" top="0">
      <font size="5" style="color:rgb(0, 0, 0);line-height:50px">SaveIT</font>
    </div>
  </div>
  {{{body}}}
</body> --}}


<body>
  <div id="header">
    <div id="logo">
      <img src="/public/jar.png" height="40" width="60" top="0" style="
    vertical-align: top;
">
      <font size="5" style="color:black">SaveIT</font>
    </div>
  </div>
  <div class="wrapper">
    <nav id="sidebar">
      <ul class="list-unstyled components">
        <li {{#if home}}class="active"{{/if}}>
          <a href="http://localhost:4000/goals" aria-expanded="false">Home</a>
          {{!-- <ul class="collapse list-unstyled" id="homeSubmenu"> --}}
            {{!-- <li>
              <a href="#">Home 1</a>
            </li>
            <li>
              <a href="#">Home 2</a>
            </li>
            <li>
              <a href="#">Home 3</a>
            </li>
          </ul> --}}
        </li>
        <li {{#if dashboard}}class="active"{{/if}}>
          <a href="http://localhost:4000/goals/dashboard">Dashboard</a>
        </li>
        {{!-- <li>
          <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
          <ul class="collapse list-unstyled" id="pageSubmenu">
            <li>
              <a href="#FirstSec">Page 1</a>
            </li>
            <li>
              <a href="#myDIV">Page 2</a>
            </li>
            <li>
              <a href="#ThirdSec">Page 3</a>
            </li>
          </ul>
        </li> --}}
        <li>
          <a href="#">My Profile</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
      </ul>
    </nav>

    <div id="content">
      <nav>
        <div>
          <button type="button" id="sidebarCollapse" class="btn clsexpandcollapse" style="background: #5b9291;border-radius: 0px;color: white;">
            {{!-- <i class="fas fa-align-left"></i> --}}
            <span>☰</span>
          </button>

        </div>
      </nav>
    </div>
    {{{body}}}
  </div>

  <!--========================== THIRD SECTION ======================================-->
  {{!-- </div> --}}

  <script src="jquery/jquery-3.2.1.min.js"></script>
  <script src="js/main.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="/public/jsCode/jquery.min.js"></script>
  <script src="/public/jsCode/Chart.min.js"></script>
  <script src="/public/jsCode/bar.js"></script>

</html>