
	<!-- Main container -->
	<div class="page-container">

		<!-- bloc-0 -->
		<div class="bloc bgc-white l-bloc " id="bloc-0">

			<div class="row">
				<div class="col-sm-12">
					<h2 class="text-center blocs-team-title tc-dark-jungle-green">
						Meet our team
					</h2>
					<p class="text-center blocs-team-sub">
						We are a group of skilled individuals.
					</p>
				</div>
			</div>
			<div class="row voffset-lg">
				<div class="col-sm-2">
					<img src="/public/images/lazyload-ph.png" data-src="/public/images/lady2.png" class="img-circle center-block blocs-team-avatar img-responsive lazyload"
					 height="170" width="171" />
				</div>
				<div class="col-sm-4">
					<h3 class="blocs-team-header tc-dark-jungle-green">
						Shivani Patole
					</h3>
					<p class="blocs-team-details">
						Our backend developer passionate to solve real <br>world problems
					</p><br>
				</div>
				<div class="col-sm-2">
					<img src="/public/images/lazyload-ph.png" data-src="/public/images/lady1.png" class="img-circle center-block blocs-team-avatar img-responsive lazyload"
					 height="160" width="132" />
				</div>
				<div class="col-sm-4">
					<h3 class="blocs-team-header tc-dark-jungle-green">
						Kajol Acharya
					</h3>
					<p class="blocs-team-details">
						Our frontend developer with an urge to provide simple user interface
					</p><br>
				</div>
			</div>
			<div class="row voffset-lg">
				<div class="col-sm-2">
					<img src="/public/images/lazyload-ph.png" data-src="/public/images/men1.png" class="img-circle center-block blocs-team-avatar img-responsive lazyload"
					 height="178" width="137" />
				</div>
				<div class="col-sm-4">
					<h3 class="blocs-team-header tc-dark-jungle-green">
						Shreesh Chavan
					</h3>
					<p class="blocs-team-details">
						Our Backend developer to solve errors and and test the interface.
					</p><br>
				</div>
				<div class="col-sm-2">
					<img src="/public/images/lazyload-ph.png" data-src="/public/images/men2.png" class="img-circle center-block blocs-team-avatar img-responsive lazyload"
					 height="168" width="124" />
				</div>
				<div class="col-sm-4">
					<h3 class="blocs-team-header tc-dark-jungle-green">
						Allan Shivji
					</h3>
					<p class="blocs-team-details">
						Our front end developer to provide ease of use user interface and experience.
					</p><br>
				</div>
			</div>
		</div>
		<!-- bloc-0 END -->

		<!-- ScrollToTop Button -->
		<a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1')"><span class="fa fa-chevron-up"></span></a>
		<!-- ScrollToTop Button END-->


	</div>
	<!-- Main container END -->



	<!-- Preloader -->
	<div id="page-loading-blocs-notifaction"></div>
	<!-- Preloader END -->
