*{
  margin: 0px;
  padding: 0px;
}
#header{
  width: 100%;
  height: 80px;
  background: rgb(156, 250, 164);
}
#navbar{
width: 400px;
height: 80px;
float: right;
}
#navbar>li{
  width: 200px;
  list-style: none;
  float: left;
}
li>a{
  display: block;
  color: rgb(8, 0, 0);
  line-height: 80px;
  text-align: center;
  font-family: cursive;
  font-size: 20px;
  text-decoration: none;
}
#logo{
    width: 200px;
    height: 80px;
    float: left;
}
.button {
  border-radius: 4px;
  background-color: rgb(156, 250, 164);    
  border: none;
  color: rgb(22, 21, 21);
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 500px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.2s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.classDiv{
    text-align: center;
}
.form-popup {
  display: none;
  position: fixed;
  bottom: 110;
  right: 380px;
  border: 10px solid #f1f1f1;
  z-index: 9;
}
.form-container {
  max-width: 500px;
  height: 250px;
  padding: 10px;
  background-color: white;
}
.form-container input[type=text]{
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}
.form-container input[type=text]:focus{
  background-color: #ddd;
  outline: none;
}
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}
.form-container .cancel {
  background-color: red;
}
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
.labelfont{
  font-size: 30px;
}

body {
margin: 0;
min-width: 250px;
}

/* Include the padding and border in an element's total width and height */
* {
box-sizing: border-box;
}

/* Remove margins and padding from the list */
ul {
margin: 0;
padding: 0;

}
.table {
display: table;   /* Allow the centering to work */
margin: 0 auto;
}

/* Style the list items */
/* ul li { */
/* cursor: pointer; */
/* position: relative; */
/* /* padding: 12px 8px 12px 40px; */ */
  /* padding: 15px 32px; */
/* list-style-type: none; */
/* background: lavenderblush; */
/* font-size: 18px; */
/* transition: 0.2s; */
/* height: 165px; */
/* width:50%; */
  /* text-align: center; */
  /* text-decoration: none; */
  /* display: inline; */
  /* margin: 4px 2px; */
/* /* make the list items unselectable */ */
/* -webkit-user-select: none; */
/* -moz-user-select: none; */
/* -ms-user-select: none; */
/* user-select: none; */
/* } */

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
background-color:lavender;
}

/* Darker background-color on hover */
ul li:hover {
 background-color:lavender;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
background: #888;
color: #fff;
text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
content: '';
position: absolute;
border-color: #fff;
border-style: solid;
border-width: 0 2px 2px 0;
top: 10px;
left: 16px;
transform: rotate(45deg);
height: 15px;
width: 7px;
}

/* Style the close button */
.close {
position: absolute;
right: 0;
top: 0;
padding: 12px 16px 12px 16px;
}

.close:hover {
background-color: #f44336;
color: white;
}

/* Style the header */
.header {
background-color: lavender;
padding: 30px 40px;
color: black;
text-align: center;
}

/* Clear floats after the header */
.header:after {
content: "";
display: table;
clear: both;
}

/* Style the input */
input {
margin: 0;
border: none;
border-radius: 0;
width: 75%;
padding: 10px;
float: left;
font-size: 16px;
}
#myInput{
margin: 0;
border: none;
border-radius: 0;
width: 50%;
padding: 10px;
float: left;
font-size: 16px;
}
/* Style the "Add" button */
.addBtn {
padding: 10px;
width: 25%;
background: #d9d9d9;
color: #555;
float: left;
text-align: center;
font-size: 16px;
cursor: pointer;
transition: 0.3s;
border-radius: 0;
}

.addBtn:hover {
background-color: #bbb;
}

.goalList	{
background-color:lavenderblush;
 /* width: 400px; */
height: 160px;
width:100%; 
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.chart-container {
width:  70%;
height: 300px;
  margin: 0 auto;
}
.row{
overflow-x: scroll;
overflow-y: hidden;
white-space: nowrap
}
.form-popup2 {
display: none;
/* position: fixed;
bottom: 100;
right: 380px;*/
overflow: auto;
position: fixed;
top: 100px;   left: 250px;
right: 380px;
bottom: 100;
width: 50%;
height: 70%;
border: 10px solid #dda6a6;
z-index: 9;
}
.form-container2 {
max-width: 800px;
height: 3000px;
padding: 10px;
background-color: white;
}
.form-container2 input[type=text]{
width: 90%;
padding: 15px;
margin: 5px 0 22px 0;
border: none;
background: #f1f1f1;
}
.form-container2 input[type=text]:focus{
background-color: #ddd;
outline: none;
}
.form-container2 .btn {
background-color: #4CAF50;
color: white;
padding: 16px 20px;
border: none;
cursor: pointer;
width: 100%;
margin-bottom:10px;
opacity: 0.8;
}
.form-container2 .cancel {
background-color: red;
}
.form-container2 .btn:hover, .open-button:hover {
opacity: 1;
}
.labelfont{
font-size: 30px;
}